/*Style CSS*/

/*Definição do corpo da pagina*/
body{
background-color:darkseagreen;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size-adjust: none;

}
img{
    width: 38px;
    height: 38px;
    position:absolute;
    top: auto;
    left: 1%;
    
}
header{
    background-color: darkred;
    margin: 0%;
    width: 100%;
    text-align-last: center;
    font-size: xx-large;
    padding: 0%;
    position: fixed, top;
    height: 4%;
}

footer{
    background-color: cornsilk;
    height: 23vh;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0%;
}

main{
    height: 76vh;
}
div{
    width: 28%;
    height: 100$;
    display:inline-block;
    background-color: aqua;
    text-align: center;

}