{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Contato</title>
    
</head>

<body style="background-image: url('{% static 'img/fundo.jpg' %}');"> 


    <nav>
        <ul class="barra"> 
            <li class="logotipo"><a href="#"><img src="{%static 'img/reciclagem.png'%}">Pontos de Reciclagem</a></li>   
            <li class="hideMobile"><a href="{% url 'index' %}">Home</a></li>                  
            <li class="hideMobile">
                <a aria-haspopup="true" href="">Locais
                    <span class="nav-locais"></span>
                </a>
            </li>
            <li class="hideMobile"><a href="{% url 'info' %}">Informações</a></li>        
            <!--<li class="hideMobile"><a href="{% url 'contato' %}">Contato</a></li>-->
            <li class="hideDesktop"><a href="" id="abrir">
                <svg class="icon"xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="undefined"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
            </a></li>                    
        </ul>
    </nav>
    
    <nav>
        <ul class="sidebar" id="sidebar">    
            <li><a href="" id="fechar">
                <svg  class="icon"xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="undefined"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
            </a></li>                    
            <li><a href="{% url 'index' %}">Home</a></li>                  
            <li>
                <a aria-haspopup="true" href="">Locais
                    <span class="nav-locais"></span>
                </a>
            </li>
            <li><a href="{% url 'info' %}">Informações</a></li>        
            <li><a href="{% url 'contato' %}">Contato</a></li>
        </ul>

    </nav>


    <h1>Bem-vindo ao Chat!</h1>

    <!-- Formulário para Pergunta e Resposta -->
    <form method="POST" action="{% url 'contato' %}">
        {% csrf_token %}
        <label for="pergunta">Pergunta:</label><br>
        <input type="text" id="pergunta" name="pergunta" placeholder="Digite sua pergunta..." required><br><br>

        <button type="submit">Enviar Pergunta</button><br><br>

        <label for="resposta">Resposta:</label><br>
        <textarea id="resposta" name="resposta" placeholder="Resposta aparecerá aqui..." readonly>{{ resposta }}</textarea><br><br>
    </form>

    <!-- Formulário para Comentário -->
    <form method="POST" action="{% url 'save_comment' %}">
        {% csrf_token %}
        <label for="comentario">Deixe um comentário:</label><br>
        <textarea id="comentario" name="comentario" placeholder="Digite seu comentário..." maxlength="255"></textarea><br><br>

        <button type="submit">Enviar Comentário</button><br><br>

        <label for="comentario_salvo">Comentário Salvo:</label><br>
        <textarea id="comentario_salvo" name="comentario_salvo" placeholder="Comentário aparecerá aqui..." readonly>{{ comentario_salvo }}</textarea><br><br>
    </form>

</body>
</html>

