@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    font-family: "poppins";
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

img{
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.bnav{
    width: 100%;
    justify-self: auto;
}

.barra{
    background-color: rgb(74, 145, 74, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1;
}

nav{
    display: flex;
    justify-content: flex-end;
    margin-left: -20px;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 60px;
    display: flex;    
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex; 
    align-items: center; 
    color: black;
    margin-right: 10px;
    transition: 0.3s;
}
nav a:hover{
    color: rgb(213, 24, 24);
}

.icon{
    fill: black;
}

.sidebar{
    position: absolute;
    top: 8vh;
    right: 0;
    height: 100vh;
    width: 50vh;
    z-index: 999;
    background-color: rgba(0, 131, 0), 0.4;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    display: none;
}


nav li:first-child.logotipo{
    font-weight: bold;
    font-size: 1.6rem;
    margin-inline-end: 15%;
    margin-right: auto;
}

@media(max-width: 800px){
    .hideMobile{
        display: none;

    }
}

#abrir:active ~ .sidebar {
    display: flex; 
}

#fechar:active ~ .sidebar {
    display: none;
}
@media(min-width:800px){
    .hideDesktop{
        display: none;
    }
    .icon:hover{
        display: flex; 
    }
}

#map {
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 50px; 
    height: 80vh;    
    width: 60%;    
}


footer{
    background-color: cornsilk;
    height: auto;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0%;
}

#rodape{
    width: 30vh;
    display:inline-block;
    text-align: center;
    margin-right: 5vh;
    -webkit-text-size-adjust: auto;
    background-color: cornsilk;
    height: auto;

}






/*Stylo para pagina Contatos*/

h2{
    position: relative;
    text-align: center;

}
#pcontato{
    text-align: center;
}

.chat-box { 
    width: 50%; /* Ajustando para 50% da largura do pai */ 
    height: 10vh; /* Ajustando altura */ 
    background-color: white; 
    border: 0.2em solid #ccc; /* Corrigido o valor da borda */ 
    padding: 1em; 
    overflow-y: auto; 
    margin: 0 auto 1em auto; /* Centraliza o elemento */ 
    border-radius: 0.5em;
}
/*.chat-box {
    width: 50%;
    height: 10vh;
    background-color: white;
    border: 0,2eSm solid #ccc;
    padding: 1em;
    overflow-y: auto;
    margin-bottom: 1em;
    border-radius: 0.5em;
}*/
.chat-input { 
    display: flex; 
    width: 50%;
    margin: 0 auto;
    gap: 0

/*.chat-input {
    display: flex;
    gap: 0;*/
}
.chat-input input {
    flex: 1;
    padding: 1em;
    border-radius: 0;
    border: 0.1em solid #ccc;
}
.chat-input button {
    padding: 1em 2em;
    background-color: green;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: darkgreen;
}

/* pagina info*/

.textoInf{
    height: 90vh;
    width: 80vh;
    margin-top: 5vh;
    background-color: azure;
    position: relative;
    background-position-x: 100;
    margin-left: 10vh;
    margin-right: 10vh;
    border-width: 0.5vh;
    border-color: #3498db;
    border-style: solid;
    border-radius: 2vh;
}