{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sacale=1,0">
    <link rel="stylesheet" href="{%static 'css/styleContato.css'%}">

    <title>Contato</title>
    <header >
        <img src="{% static 'images/reciclagem.png' %}">
    </header>

</head>

<body>
	
	 <section class="chat-container">
        <h2>Fale Conosco</h2>
        <p></p>
        <p>Na caixa de dialogo, escreva sua duvida, informações sobre locais, ou algua sugestão.</p>
        <div class="chat-box" id="chat-box">
            <!-- As mensagens aparecerão aqui -->
        </div>
        <div class="chat-input">
            <input type="text" id="user-input" placeholder="Digite sua mensagem...">
            <button onclick="sendMessage()">Enviar</button>
        </div>
    </section>
    
</body>
