{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'img/fundo.jpg'%}">
    <title>Informações</title>
</head>
<body style="background-image: url('{%static 'img/fundo.jpg'%}');">
    <nav>
        <ul class="barra"> 
            <li class="logotipo"><a href="#"><img src="{%static 'img/reciclagem.png'%}">Pontos de Reciclagem</a></li>   
            <li class="hideMobile"><a href="{% url 'index' %}">Home</a></li>                  
            <li class="hideMobile">
                <a aria-haspopup="true" href="">Locais
                    <span class="nav-locais"></span>
                </a>
            </li>
            <li class="hideMobile"><a href="{% url 'info' %}">Informações</a></li>        
            <li class="hideMobile"><a href="{% url 'contato' %}">Contato</a></li>
            <li class="hideDesktop"><a href="" id="abrir">
                <svg class="icon"xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="undefined"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
            </a></li>                    
        </ul>
    </nav>
    
    <nav>
        <ul class="sidebar" id="sidebar">    
            <li><a href="" id="fechar">
                <svg  class="icon"xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="undefined"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
            </a></li>                    
            <li><a href="{% url 'index' %}">Home</a></li>                  
            <li>
                <a aria-haspopup="true" href="">Locais
                    <span class="nav-locais"></span>
                </a>
            </li>
            <li><a href="{% url 'info' %}">Informações</a></li>        
            <li><a href="{% url 'contato' %}">Contato</a></li>
        </ul>

    </nav>
  <main>
    <div class="textoInf">
        <h1>Informações sobre Separação de Material Reciclável</h1>
        <p>Para mais informações sobre a separação de materiais recicláveis, consulte os seguintes links:</p>
        <ul>
            <li><a href="https://www.terracycle.com/pt-BR/#@-14.235004:-51.92528zoom:4" target="_blank">Recicle o não reciclável com a TerraCycle</a></li>
            <li><a href="https://www.facebook.com/share/v/Ps9Qb5PcKVDHZ6ak/" target="_blank">Esponja de Cozinha Usada, O Que Fazer?</a></li>

        </ul>
        <h2>Impacto Ambiental da Não Separação de Materiais Recicláveis</h2>
        <p>A falta de separação adequada de materiais recicláveis pode resultar em:</p>
        <ul>
            <li>Aumento do lixo em aterros sanitários</li>
            <li>Poluição do meio ambiente</li>
            <li>Perda de recursos valiosos que poderiam ser reciclados</li>
            <li>Impactos negativos na fauna e flora local</li>
            <li>Comprometimento da qualidade do solo, da água e do ar devido à liberação de compostos orgânicos voláteis, pesticidas, solventes e metais pesados</li>
        </ul>
    </div>
  </main>
  

    <script src="{% static 'js/index.js' %}"></script> 
</body>
</html>